<% include partials/header.ejs %>
<div class="container" id="qform">
    <form action="/qBlog" method="POST">
        <label for="name">Name</label> <br>
        <input type="text" id="name" placeholder="name" name="name"><br>
        <label for="name">Course Title</label> <br>
        <input type="text" id="name" placeholder="name" name="course">
        <div class="form-group ">
            <label for="questions">Questions</label>
            <textarea class="form-control" type="text" id="questions" rows="3" name="question"></textarea>
            <input type="submit" class="btn btn-danger float-right" id="Asubmit">

        </div>
    </form>
</div>




<% include partials/footer.ejs %>